<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Side Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-menu-toggle autoHide="false">
      <ion-button expand="block" fill="clear">
        <ion-icon slot="start" name="play-circle" color="dark"></ion-icon>
        Listen Now
      </ion-button>
      <ion-button expand="block" fill="clear">
        <ion-icon slot="start" name="radio" color="dark"></ion-icon>
        Radio
      </ion-button>
      <ion-button expand="block" fill="clear">
        <ion-icon slot="start" name="library" color="dark"></ion-icon>
        Library
      </ion-button>
      <ion-button expand="block" fill="clear">
        <ion-icon slot="start" name="search" color="dark"></ion-icon>
        Search
      </ion-button>
      <ion-button
        expand="block"
        color="danger"
        fill="outline"
        (click)="logout()"
        >Logout
      </ion-button>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="listening">
          <ion-icon name="play-circle"></ion-icon>
          Listen Now
        </ion-tab-button>
        <ion-tab-button tab="radio">
          <ion-icon name="radio"></ion-icon>
          Radio
        </ion-tab-button>
        <ion-tab-button tab="library">
          <ion-icon name="library"></ion-icon>
          Library
        </ion-tab-button>
        <ion-tab-button tab="search">
          <ion-icon name="search"></ion-icon>
          Search
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</div>
