<ion-content>
  <ion-header>
    <div class="example-content"></div>
  </ion-header>

  <b>Column 1 size: <code>'Auto'</code></b>
  <ion-grid>
    <ion-row>
      <ion-col size="auto">1</ion-col>
      <ion-col>2</ion-col>
      <ion-col>3</ion-col>
    </ion-row>
  </ion-grid>

  <b>Column 3 has input and has size of <code>'Auto'</code></b>
  <ion-grid>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>2</ion-col>
      <ion-col>
        <ion-input placeholder="3"></ion-input>
      </ion-col>
      <ion-col>4</ion-col>
      <ion-col>5</ion-col>
      <ion-col>6</ion-col>
    </ion-row>
  </ion-grid>

  <b>Column 2 has the size of <code>'Auto'</code> and defined width</b>
  <ion-grid>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col size="auto">
        <div style="width: 150px">2</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <b>Column 2 has <code>size</code> set to <code>"8"</code></b>
  <ion-grid>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col size="8">2</ion-col>
      <ion-col>3</ion-col>
    </ion-row>
  </ion-grid>

  <b>Columns 3 & 4 have <code>size</code> set to <code>"3"</code></b>
  <ion-grid>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>2</ion-col>
      <ion-col size="3">3</ion-col>
      <ion-col size="3">4</ion-col>
      <ion-col>5</ion-col>
      <ion-col>6</ion-col>
    </ion-row>
  </ion-grid>

  <b>Columns 1 & 2 have <code>size</code> set to <code>"4"</code></b>
  <ion-grid>
    <ion-row>
      <ion-col size="4">1</ion-col>
      <ion-col size="4">2</ion-col>
    </ion-row>
  </ion-grid>

  <b>Stacked for xs breakpoint, equal width for sm and up</b>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="3">1</ion-col>
      <ion-col size="12" size-sm="3">2</ion-col>
      <ion-col size="12" size-sm="3">3</ion-col>
      <ion-col size="12" size-sm="3">4</ion-col>
    </ion-row>
  </ion-grid>

  <b
    >Equal width until md breakpoint, last column takes full width for md and
    up</b
  >
  <ion-grid>
    <ion-row>
      <ion-col size-md="6">1</ion-col>
      <ion-col size-md="6">2</ion-col>
      <ion-col size-md="12">3</ion-col>
    </ion-row>
  </ion-grid>

  <b
    >2 per row until md breakpoint, 3 per row for md, equal width for lg and
    up</b
  >
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="2">1</ion-col>
      <ion-col size="6" size-md="4" size-lg="2">2</ion-col>
      <ion-col size="6" size-md="4" size-lg="2">3</ion-col>
      <ion-col size="6" size-md="4" size-lg="2">4</ion-col>
      <ion-col size="6" size-md="4" size-lg="2">5</ion-col>
      <ion-col size="6" size-md="4" size-lg="2">6</ion-col>
    </ion-row>
  </ion-grid>

  <b>Column 2 has <code>offset</code> set to <code>"3"</code></b>
  <ion-grid>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col offset="3">2</ion-col>
      <ion-col>3</ion-col>
    </ion-row>
  </ion-grid>

  <b>Column 5 has <code>offset</code> set to <code>"2"</code></b>
  <ion-grid>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>2</ion-col>
      <ion-col>3</ion-col>
      <ion-col>4</ion-col>
      <ion-col offset="2">5</ion-col>
    </ion-row>
  </ion-grid>

  <b>Column 1 has <code>offset</code> set to <code>"4"</code></b>
  <ion-grid>
    <ion-row>
      <ion-col size="2" offset="4">1</ion-col>
      <ion-col size="2">2</ion-col>
    </ion-row>
  </ion-grid>

  <b>No offset for xs breakpoint, offset 1st column for sm and up</b>
  <ion-grid>
    <ion-row>
      <ion-col offset-sm="2">1</ion-col>
      <ion-col>2</ion-col>
      <ion-col>3</ion-col>
      <ion-col>4</ion-col>
      <ion-col>5</ion-col>
    </ion-row>
  </ion-grid>

  <b>No offset for xs breakpoint, offset last 3 columns for md and up</b>
  <ion-grid>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col offset-md="2">2</ion-col>
      <ion-col offset-md="2">3</ion-col>
      <ion-col offset-md="2">4</ion-col>
    </ion-row>
  </ion-grid>

  <b
    >Offset all columns by 6 for xs breakpoint, offset by 4 for md, offset by 2
    for lg and up</b
  >
  <ion-grid>
    <ion-row>
      <ion-col offset="6" offset-md="4" offset-lg="2">1</ion-col>
      <ion-col offset="6" offset-md="4" offset-lg="2">2</ion-col>
    </ion-row>
  </ion-grid>

  <b
    >Column 1 has <code>push</code> set to <code>"4"</code> and column 2 has
    <code>pull</code> set to <code>"4"</code></b
  >
  <ion-grid>
    <ion-row>
      <ion-col push="4">1</ion-col>
      <ion-col pull="4">2</ion-col>
      <ion-col>3</ion-col>
    </ion-row>
  </ion-grid>

  <b
    >Column 2 has <code>push</code> set to <code>"4"</code> and column 3 & 4
    have <code>pull</code> set to <code>"2"</code></b
  >
  <ion-grid>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col push="4">2</ion-col>
      <ion-col pull="2">3</ion-col>
      <ion-col pull="2">4</ion-col>
      <ion-col>5</ion-col>
      <ion-col>6</ion-col>
    </ion-row>
  </ion-grid>

  <b
    >Column 1 has <code>push</code> set to <code>"3"</code> and column 2 has
    <code>pull</code> set to <code>"9"</code></b
  >
  <ion-grid>
    <ion-row>
      <ion-col size="9" push="3">1</ion-col>
      <ion-col size="3" pull="9">2</ion-col>
    </ion-row>
  </ion-grid>

  <b
    >No change for xs breakpoint, push 1st column & pull 2nd column for sm and
    up</b
  >
  <ion-grid>
    <ion-row>
      <ion-col push-sm="6">1</ion-col>
      <ion-col pull-sm="6">2</ion-col>
    </ion-row>
  </ion-grid>

  <b
    >No change for xs breakpoint, push middle columns & pull last column for md
    and up</b
  >
  <ion-grid>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col push-md="3">2</ion-col>
      <ion-col push-md="3">3</ion-col>
      <ion-col pull-md="6">4</ion-col>
    </ion-row>
  </ion-grid>

  <b
    >Switch first and last 3 columns for xs breakpoints, reverse columns for lg
    and up</b
  >
  <ion-grid>
    <ion-row>
      <ion-col push="6" push-lg="10">1</ion-col>
      <ion-col push="6" push-lg="6">2</ion-col>
      <ion-col push="6" push-lg="2">3</ion-col>
      <ion-col pull="6" pull-lg="2">4</ion-col>
      <ion-col pull="6" pull-lg="6">5</ion-col>
      <ion-col pull="6" pull-lg="10">6</ion-col>
    </ion-row>
  </ion-grid>

  <b>Columns aligned at the top</b>
  <ion-grid>
    <ion-row class="ion-align-items-start">
      <ion-col> 1 </ion-col>
      <ion-col> 2 </ion-col>
      <ion-col> 3 </ion-col>
      <ion-col>
        4 <br />
        # <br />
        # <br />
        # <br />
      </ion-col>
    </ion-row>
  </ion-grid>

  <b>Columns aligned at the center</b>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col> 1 </ion-col>
      <ion-col> 2 </ion-col>
      <ion-col> 3 </ion-col>
      <ion-col>
        4 <br />
        # <br />
        # <br />
        # <br />
      </ion-col>
    </ion-row>
  </ion-grid>

  <b>Columns aligned at the bottom</b>
  <ion-grid>
    <ion-row class="ion-align-items-end">
      <ion-col> 1 </ion-col>
      <ion-col> 2 </ion-col>
      <ion-col> 3 </ion-col>
      <ion-col>
        4 <br />
        # <br />
        # <br />
        # <br />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
