<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <div class="ion-text-start">
          <h3>text-start</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Cupiditate, ipsam.
          </p>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-end">
          <h3>text-end</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum,
            quam.
          </p>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-center">
          <h3>text-center</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam,
            laudantium!
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-justify">
          <h3>text-justify</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, ab!
          </p>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-wrap">
          <h3>text-wrap</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
            eos!
          </p>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-nowrap">
          <h3>text-nowrap</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat,
            dolorum.
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-uppercase">
          <h3>text-uppercase</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe,
            alias.
          </p>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-lowercase">
          <h3>text-lowercase</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Reprehenderit, nulla!
          </p>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-capitalize">
          <h3>text-capitalize</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam,
            voluptatibus.
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
