<ion-menu contentId="main-content">
  <ion-header translucent="true" collapse="true">
    <ion-toolbar>
      <ion-title>Welcome, {{ userName }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle autoHide="false" *ngFor="let nav of navigation">
        <ion-item button (click)="navigateToPage(nav.navigate)">
          <ion-icon slot="start" [name]="nav.name" [color]="setCurrentPage(nav.navigate)"></ion-icon>
          <ion-label [color]="setCurrentPage(nav.navigate)">{{ nav.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-list>
      <ion-menu-toggle autoHide="false">
        <ion-item button (click)="logout()">
          <ion-icon slot="start" name="log-out-outline" color="danger"></ion-icon>
          <ion-label color="danger">Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-footer>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-content class="ion-padding">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="listening">
          <ion-icon name="play-circle"></ion-icon>
          Listen Now
        </ion-tab-button>
        <ion-tab-button tab="radio">
          <ion-icon name="radio"></ion-icon>
          Radio
        </ion-tab-button>
        <ion-tab-button tab="library">
          <ion-icon name="library"></ion-icon>
          Library
        </ion-tab-button>
        <ion-tab-button tab="search">
          <ion-icon name="search"></ion-icon>
          Search
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</div>
