<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Register User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registerForm" (submit)="register()">

    <div class="item-container">
      <ion-item>
        <ion-input tabindex="1" type="email" labelPlacement="floating" label="Email" formControlName="email"></ion-input>
      </ion-item>
      <div class="small-label ion-padding-start" *ngIf="errorControl['email'].touched && errorControl['email'].invalid">
        <ion-text color="danger" *ngIf="errorControl['email'].errors?.['required']">Email is required.</ion-text>
        <ion-text color="danger" *ngIf="errorControl['email'].errors?.['pattern']">Provide a valid Email.</ion-text>
      </div>
    </div>

    <div class="item-container">
      <ion-item>
        <ion-input tabindex="2" type="text" labelPlacement="floating" label="Username" formControlName="username"></ion-input>
      </ion-item>
      <div class="small-label ion-padding-start" *ngIf="errorControl['username'].touched && errorControl['username'].invalid">
        <ion-text color="danger" *ngIf="errorControl['username'].errors?.['required']">Username is required.</ion-text>
        <ion-text color="danger" *ngIf="registerForm.get('username')?.errors?.['minlength']">Username must be 3 characters long.</ion-text>
      </div>
    </div>

    <div class="item-container">
      <ion-item>
        <ion-input tabindex="3" type="password" label="Password" labelPlacement="floating" formControlName="password"></ion-input>
      </ion-item>
      <div class="small-label ion-padding-start" *ngIf="errorControl['password'].touched && errorControl['password'].invalid">
        <ion-text color="danger" *ngIf="errorControl['password'].errors?.['required']">Password is required.</ion-text>
        <ion-text color="danger" *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be 8 characters long.</ion-text>
      </div>
    </div>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
